body {
    font-family: Arial;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: red;
    color: black;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: url('../assets/images/hero.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: greenyellow;
}

.btn {
    background: blue;
    padding: 10px;
    color: orangered;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    background: yellow;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}